
* {
    font-family: 'Bowlby One SC', cursive, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

body {
  background-color: #1E1E1E;
  padding: 50px 50px;
  }

.red {
    background-color: #D20915;
    position: absolute;
  }

.container {
  background-color: rgba(0, 0, 0, 0);
  max-height: 100vh;
  margin: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* desktop display - 5 columns */
  grid-template-rows: 75px 1fr 1fr 75px 50px; /* 5 rows - auto fills in any remaining space */
  grid-template-areas:
    "hdr hdr hdr hdr hdr" 
    "pOddsBox pOddsBox pPlayerBox gStatusBox gStatusBox"
    "gTableBox gTableBox gTableBox gTableBox gTableBox"
    "cTotalBox cTotalBox cTotalBox cTotalBox cTotalBox"
    ". nGameButton bButton dealButton rButton";
  }

.introbox {
  grid-area: hdr;
  background-color: #D20915;
  border: 1px solid #1E1E1E;
  border-radius: 10px;
  }

#gameStatus {
  grid-area: gStatusBox;
  background-color: #0B5106;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  }

#payoutOdds {
  grid-area: pOddsBox;
  background-color: #8E8E8E;
  color: white;
  border-radius: 10px;
  font-size: 2vmin;
  } 

#payoutPlayer {
  grid-area: pPlayerBox;
  background-color: #B3B3B3;
  border-radius: 10px;
  font-size: 2vmin;
  text-align: left;
  }

#gameTable {
  grid-area: gTableBox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  }

#creditTotal {
  grid-area: cTotalBox;
  background-color: #DFC63A;
  text-align: center;
  border-radius: 10px;
  align-self: center;
  padding: 10px 0;
  font-size: 2.5vmin;
  }

#resetButton {
  grid-area: rButton;
  background-color: white;
  justify-self: end;
  align-self: start;
  }

#newGameButton {
  grid-area: nGameButton;
  background-color: white;
  justify-self: end;
  align-self: start;
  }

#betButton {
  grid-area: bButton;
  background-color: white;
  justify-self: center;
  align-self: start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  }

/* #totalBet {
  border-radius: 10px;
} */

#plusButton, #minusButton {
  background-color: #0B5106;
  width: 4vmin;
  height: 5vmin;
  padding: 5px;
  border-radius: 10px;
  }

#dealButton {
  grid-area: dealButton;
  background-color: #D20915;
  justify-self: start;
  align-self: start;
  }

#drawButton {
  grid-area: drawButton;
  background-color: #D20915;
  justify-self: start;
  align-self: start;
  }

h1, h2 {
  color: white;
  text-align: center;
  }

h6 {
  margin: 0;
  }

.holdcard {
  opacity: 0.5;
}

ul {
  list-style: none;
  }

#resetButton,
#newGameButton,
#betButton,
#dealButton,
#drawButton {
  width: 15vmin;
  height: 5vmin;
  border-radius: 10px;
  border: 0.1vmin solid #1E1E1E;
}